.styleArgument {
  font-size: 50px;
  color: black;
}

.containerStyle { 
  position: relative;
  text-align: center;
  padding: 10px;
}

.MuiMenuItem-root {
  display: block;
  width: 100%;
  text-align: left;
}